
.highlight {
  color: red;
  background-color: yellow;
  font-weight: bold;
}

.foo {
  box-shadow: 10px, 5px, 5px, rgba(245, 40, 145, 0.8);
  background-color: blueviolet;
}

.bar {
  text-decoration:line-through;
  color: blue;
}

.anchor {
  margin: 10px;
  outline: 1px solid purple;
  display: block;
}